.signin {
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    .input-section {
        // width: 40%;
        h3 {
            padding-top: 3rem;
        }
        div {
            width: 90%;
            margin: 1rem 0;

            input {
                width: 100%;
                padding: .8rem 1rem;
                border-radius: 5px;
            }
        }

        .acc-switch {
            margin-top: 2rem;
            width: 50%;
            text-align: center;
            margin: 2rem auto;

            @media (max-width: 600px) {
                width: 100%;
            }

            span {
                color: #08299b;
                cursor: pointer;
                font-style: italic;
            }
        }
    }
}