.home {
    display: flex;
    justify-content: space-between;
}
.subtitle-container {
    /* width: 100%; */
    text-align: center;
    padding-top: 7rem;

    h1 {
        color: #08299b;
        padding: 1rem 0;
    }
    p {
        font-size: 24px;
        margin: 1rem 0;
    }

}

.treatment-img img {
    width: 100%;
}

.search-form {
    text-align: center;
    input {
        display: block;
        width: 650px;
        height: 60px;
        background: #fff;
        border-radius: 23px;
        padding-left: .5rem;
        margin: .5rem auto;
        border: 2px solid #08299b;
    }
}
.finde-search {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 300px;
    margin-top: 2rem;

}

.hospital-card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    padding: .8rem .5rem;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;

    h3 {
        color: #08299b;
        margin-top: 1rem;
    }

    p {
        padding: 2rem 0;
        font-size: medium;
        color: #000000;
    }
}

.paginatin-container{
    margin:  1rem auto;
    padding: 1rem 0;
    width: 80%;

}

.paginate-btn {
    width: 80%;
    margin: 0 auto;
    height: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.paginate-btn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #08299b;
    color: #08299b;
    cursor: pointer;
}

.paginate-btn a:hover {
    background-color: #08299b;
    border: 1px solid #fff;
    color: #fff;
}

.groups-img {
    width: 100%;
    margin-top: 1rem;

    img {
        width: 90%;
        margin: 0 auto;
    }
}