.nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(14,61,183,.15);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style-type: none;
            cursor: pointer;
        }
    }
}
